blockquote {
    margin: 1rem auto;
}

a:hover {
    text-decoration: none;
}

#header {
    background: url("https://images.unsplash.com/photo-1562619425-c307bb83bc42");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Ensure that images all have a consistent look*/
.card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.navbar {
    background: #06070C;
}
